<div class="d-flex align-items-center">
  <h1 class="boards__title">悩みごとを投稿しよー</h1>
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧に戻る', boards_path, class: 'btn btn-secondary btn-sm' %>
  </div>
</div>
<%= render partial: 'form', locals: { board: @board } %>
