.boards__table {
  letter-spacing: 2px;
  tr:hover{
    cursor: pointer;
  }
  tbody td:nth-child(2){
    font-size: 20px;
  }
}

.boards__title {
  font-size: 70px;
  font-family: 'Hachi Maru Pop', cursive;
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: block;
  width: auto;
}

.boards__selectBox {
  margin-right: 8px;
  margin-top: -2%;
  margin-bottom: 0.5%;
}

.boards__pin {
  width: 60px;
  height: 60px;
  margin: -60px auto 0px;
}
