// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p-comment__formBox {
  margin: 30px auto;
  border: 1px solid #000;
  padding: 25px;
  border-radius: 0.25rem;
}

.p-comment__formTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
  font-weight: bold;
}

.p-comment__listTitle {
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 5px;
}

.p-comment__list {
  margin: 38px 0;
  padding: 20px;
}

.p-comment__item {
  border: 1px solid #dfdfdf;
  margin: 10px auto;
  box-shadow: 5px 5px gray;
}

.comment__body {
  height: 120px;
  overflow-wrap: break-word;
  overflow: scroll;
}

.p-comment__bottomLine {
  font-size: 15px;
  text-align: right;

  > span {
    font-size: 14px;
    margin: 0 12px;
  }
}

.comment__star {
  position: relative;
  width: 5em;
  height: 0em;
  font-size: 15px;

}
.comment__evaluate{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.comment__evaluate input[type='radio']{
  display: none;
}

.comment__evaluate label{
  position: relative;
  padding: 0px 0.1px auto 0;
  color: gray;
  cursor: pointer;
  font-size: 30px;
}

.comment__evaluate label:hover,
.comment__evaluate label:hover ~ label,
.comment__evaluate input[type='radio']:checked ~ label{
  color: #ffc107;
}
