.plus {
  display: inline-block;
  color: #343a40;
  font-size: 35px;
  margin-bottom: 5px;
  transition: 0.15s ease-in-out;
}

.plus:hover {
  color: #6eb5fb;
}

.pen {
  font-size: 20px;
  color: #000000;
  margin-left: 10px;
  display: inline-block;
}

.trash {
  font-size: 20px;
  color: #343a40;
  transition: 0.15s ease-in-out;
}

.trash:hover {
  color: red;
}

.star__rating {
  position: relative;
  text-align: left;
  color: #ccc;
}

.star__rating__after {
  position: absolute;
  text-align: left;
  left: 0px;
  white-space: nowrap;
  overflow: hidden;
  color: #ffc107;
}
