.simple-calendar {
  .calendar-heading {
    margin: 20px auto 10px;
    text-align: center;
    font-size: 24px;

    > a {
      color: #343a40;
      font-size: 16px;
      transition: 0.15s;
    }
    > a:hover {
      color: #f8f9fa;
      background-color: #343a40;
      cursor: pointer;
      text-decoration: none;
    }
  }

  table {
    margin-top: 10px;
    border-collapse: collapse;
  }

  tr > th:nth-child(1) {
    color: #dc3545;
  }

  tr > th:nth-child(7) {
    color: #007bff;
  }

  th {
    border: 1px solid #f8f9fa;
    text-align: center;
  }

  td {
    border: 1px solid #f8f9fa;
  }

  .day {
    height: 80px;
  }

  // .wday-0 {}
  // .wday-1 {}
  // .wday-2 {}
  // .wday-3 {}
  // .wday-4 {}
  // .wday-5 {}
  // .wday-6 {}

  .today {
    background: #fbffc0
  }
  // .past {}
  // .future {}

  // .start-date {}

  .prev-month {
    font-size: 10px;
    background-color: #c9d4dd;
  }
  .next-month {
    font-size: 10px;
    background-color: #c9d4dd;
  }
  // .current-month {}

  // .has-events {}
}
