// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image: image-url("NEWPORT.jpg");
  background-size: cover;
  background-position: center 70%;
  padding-top: 30%;
  border-radius: 0px;
}

.title {
  position: absolute;
  margin-top: -12%;
  display: inline-block;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.new__form {
  margin-top: 70px;
}

.new__form > h1,
.new__form > form {
  width: 300px;
  margin: auto;
  text-align: center;
}
